#bgbann {
padding: 0 5%;
margin-bottom: 15vh;

}

#bann {
  width: 85%;
  height: 35vh;
  background-color: white;
  box-shadow: 2px 4px 4px rgba(128, 128, 128, 0.478);
  border-radius: 20px;
  padding: 2%;
  display: grid;
   grid-template-columns: auto 1fr;
}
#bann >img {
  height: 200px;
  width: auto;
  background-color: aliceblue;
}
#bann h4{
  font-weight: 500;
  font-size: 18px;
}
.textlist{
  display: grid;
}

#card_list{
 width: 90vw;
 height: auto;
 margin: 0 auto;
 display: flex;
 background-color: aliceblue;
}
#card{
  width: 45vw;
  max-width: 385px;
  height: 40vh;
  
  background-color: #EAC7C5;
  border-radius: 10px;
  margin: 10px;
}
